@use 'source/variables' as *;
@use 'source/header';
@use 'source/main';
@use 'source/footer';

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: $font-family;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: $color-bg;
    color: $color-font;
    transition: all .3s ease;
    .icon-dark{
      display: none;
    }
    .content{
        width: 335px;
        padding: 10px;
        margin: auto;
        position: relative;
        border: 1px solid red;
    }
    .title{
        font-size: 2rem;
        font-weight: 700;
    }
    .btn-grad {
        background: linear-gradient(101deg,#fc2fa4,#902dff 57%,#4b4cf6);
        border: none;
        box-shadow: 0 5px 10px 0 #192c4b26;
        color: #fff;
        transition: all .4s ease-in-out;
    }
}

.is__light{
  background: hsl(240, 11%, 96%);
  color: $color-bg;
  .icon-light{
    display: none;
  }
  .icon-dark{
    display: block;
  }
}

.scale-hover{
    &:hover{
        transform: scale(1.03);
        transform-origin: center;
        transition: all .1s ease-in;
    }
}


section[id],article[id]{
    scroll-margin-top: 150px;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }