.navbar {
  height: 55px;
}
.navbar__items {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.navbar__link {
  color: hsl(273deg, 82%, 96%);
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar__link--icon {
  width: 15px;
  height: 15px;
  background-color: hsl(0deg, 0%, 15%);
  padding: 8px;
  border-radius: 100%;
  fill: hsl(273deg, 82%, 96%);
}
body.is__light .navbar__link {
  color: hsl(300deg, 3%, 6%);
}
body.is__light .navbar__link--icon {
  background-color: hsla(273deg, 82%, 96%, 0.5);
  fill: hsl(300deg, 3%, 6%);
}
.navbar--active {
  background-color: hsla(300deg, 3%, 6%, 0.5);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  left: -8px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
.navbar--active ul {
  margin: auto;
  width: 335px;
}
body.is__light .navbar--active {
  background-color: hsla(273deg, 82%, 96%, 0.5);
}

.back-img, .back-img-2 {
  height: 40rem;
  object-fit: cover;
  position: absolute;
  top: 3%;
  width: 40rem;
  z-index: -1;
}
.back-img-left, .back-img-2-left {
  left: -150%;
}
.back-img-right, .back-img-2-right {
  right: -150%;
}
.back-img__img, .back-img-2__img {
  width: 100%;
  height: 100%;
}

.cover-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 335px;
}
.cover-header__title {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}
.cover-header__text {
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  width: 335px;
  line-height: 1.4rem;
}
.cover-header__btn {
  align-items: center;
  border: none;
  border-radius: 50px;
  color: hsl(273deg, 82%, 96%);
  display: flex;
  font-family: pretendard, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 200px;
  cursor: pointer;
}
.cover-header__btn:hover {
  transform: scale(1.09);
  transform-origin: center;
}
.cover-header__btn-img {
  margin-left: 5px;
  width: 20px;
}
.cover-header__img {
  margin-top: 40px;
  margin-bottom: 80px;
}

.aboutme {
  margin: 50px 0;
  width: 335px;
}
.aboutme__title {
  margin-left: -19px;
  margin-bottom: 30px;
  text-align: center;
}
.aboutme__title-img {
  width: 29px;
  margin-bottom: -2px;
  margin-right: 10px;
}
body.is__light .aboutme__title-img {
  filter: invert(1) opacity(0.9);
}
.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboutme-container .aboutme-fig {
  width: 245px;
  height: 221px;
  background-color: hsl(0deg, 0%, 15%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body.is__light .aboutme-container .aboutme-fig {
  background-color: white;
  box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431);
}
.aboutme-container .aboutme-fig__img {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 96px;
  height: 96px;
  border-radius: 100%;
}
.aboutme-container .aboutme-fig__name {
  color: white;
  font-size: 1.2rem;
}
body.is__light .aboutme-container .aboutme-fig__name {
  color: hsl(300deg, 3%, 6%);
}
.aboutme-container .aboutme-fig__text {
  margin-top: 8px;
  color: hsl(210deg, 100%, 55%);
}
.aboutme-container .aboutme-info {
  margin-top: 30px;
  padding: 10px;
}
.aboutme-container .aboutme-info__text {
  line-height: 1.5rem;
}

.skills-hobbies {
  margin: auto;
  width: 335px;
}
.skills-hobbies .content__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}
.skills-hobbies .content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.skills-hobbies .content-container .content__card {
  height: 50px;
  padding: 10px;
  background-color: hsl(0deg, 0%, 15%);
  display: flex;
  align-items: center;
  border-radius: 80px;
  margin-right: 5px;
  margin-bottom: 15px;
}
body.is__light .skills-hobbies .content-container .content__card {
  background-color: white;
  box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431);
}
.skills-hobbies .content-container .content__card-cover {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}
.skills-hobbies .content-container .content__card-cover--svg {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  stroke: hsl(210deg, 100%, 55%);
  stroke-width: 1.3px;
}
.skills-hobbies .content-container .content__card-caption {
  margin-left: 10px;
  padding-right: 15px;
}
.skills-hobbies .content-container .content__card-caption-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.skills-hobbies .content-container .content__card-caption-info {
  color: hsl(210deg, 100%, 55%);
  font-size: 0.9rem;
}
.skills-hobbies .hobbies .content__card-caption-info {
  color: hsl(214deg, 5%, 74%);
}
body.is__light .skills-hobbies .hobbies .content__card-caption-info {
  color: hsl(206deg, 56%, 22%);
}

.education {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 150px;
}
.education-title {
  text-align: center;
  font-size: 3rem;
  margin: 50px 0;
}
.education-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.education-container .education__card {
  align-items: center;
  background-color: hsl(0deg, 0%, 15%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 266px;
  margin-bottom: 20px;
}
body.is__light .education-container .education__card {
  background-color: white;
  box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431);
}
.education-container .education__cover {
  border-radius: 20px;
  height: 100px;
  width: 266px;
  object-fit: cover;
}
.education-container .education__avatar {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  border: 5px solid hsl(0deg, 0%, 15%);
  margin-top: -50px;
  margin-bottom: 15px;
}
body.is__light .education-container .education__avatar {
  border: 5px solid white;
}
.education-container .education__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.education-container .education__title--carrer {
  color: hsl(210deg, 100%, 55%);
  margin-bottom: 5px;
}
.education-container .education__nick {
  color: hsl(214deg, 5%, 74%);
  margin-bottom: 15px;
}
body.is__light .education-container .education__nick {
  color: hsl(206deg, 56%, 22%);
}
.education-container .education-info {
  background-color: hsl(0deg, 0%, 20%);
  width: 246px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
body.is__light .education-container .education-info {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.062745098);
}
.education-container .education-info__text {
  padding: 10px;
}
.education-container .education-info__text-title {
  color: hsl(214deg, 5%, 74%);
  font-size: 0.8rem;
  margin-bottom: 5px;
}
body.is__light .education-container .education-info__text-title {
  color: hsl(206deg, 56%, 22%);
}

.projects {
  margin-bottom: 150px;
}
.projects-intro {
  width: 335px;
}
.projects-intro__title {
  text-align: center;
  margin-bottom: 30px;
}
.projects-intro__title-img {
  width: 30px;
  margin-right: 10px;
  margin-bottom: -3px;
}
body.is__light .projects-intro__title-img {
  filter: invert(1) opacity(0.9);
}
.projects-intro__text {
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
  line-height: 1.5rem;
}
.projects .projects-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projects-container .card-project {
  background-color: hsl(0deg, 0%, 15%);
  border-radius: 20px;
  height: 420px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  width: 256px;
  transition: transform 0.3s ease-in-out;
}
body.is__light .projects .projects-container .card-project {
  background-color: white;
  box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431);
}
.projects .projects-container .card-project:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease-in-out;
}
.projects .projects-container .card-project:hover .card-project__links a {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: initial;
}
.projects .projects-container .card-project__cover {
  border-radius: 20px;
  height: 270px;
  object-fit: cover;
  width: 256px;
}
.projects .projects-container .card-project__score {
  background-color: hsl(0deg, 0%, 15%);
  border-radius: 30px;
  position: absolute;
  width: 45px;
  padding: 8px;
  top: 35px;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body.is__light .projects .projects-container .card-project__score {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.062745098);
}
.projects .projects-container .card-project__score svg {
  height: 15px;
  fill: hsl(273deg, 82%, 96%);
}
body.is__light .projects .projects-container .card-project__score svg {
  fill: hsl(300deg, 3%, 6%);
}
.projects .projects-container .card-project__score svg:hover {
  fill: hsl(359deg, 71%, 47%);
}
body.is__light .projects .projects-container .card-project__score svg:hover {
  fill: hsl(359deg, 71%, 47%);
}
.projects .projects-container .card-project__title {
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 27px;
  margin-bottom: 23px;
}
.projects .projects-container .card-project__tags {
  margin-bottom: 23px;
}
.projects .projects-container .card-project__tags span {
  color: hsl(214deg, 5%, 71%);
  padding: 5px 8px;
  font-size: 0.7rem;
  margin-right: 5px;
  border-radius: 30px;
  background-color: hsl(0deg, 0%, 20%);
}
body.is__light .projects .projects-container .card-project__tags span {
  color: hsl(210deg, 100%, 55%);
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.062745098);
}
.projects .projects-container .card-project__desc {
  color: hsl(214deg, 5%, 74%);
  font-size: 0.8rem;
  line-height: 1.1rem;
}
body.is__light .projects .projects-container .card-project__desc {
  color: hsl(206deg, 56%, 22%);
}
.projects .projects-container .card-project__links {
  width: 180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 140px;
  left: 60px;
}
.projects .projects-container .card-project__links a {
  align-items: center;
  color: hsl(273deg, 82%, 96%);
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 15px 10px;
  border-radius: 25px;
  text-decoration: none;
  -webkit-animation: slide-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  animation: slide-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  visibility: hidden;
}
.projects .projects-container .card-project__links a img {
  margin-right: 10px;
  width: 18px;
}

.contact {
  width: 300px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-bg {
  position: absolute;
  width: 1280px;
  height: 1280px;
  background-image: url(../img/Group-132-blur.png);
  opacity: 0.4;
  filter: blur(50px);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 450px;
  bottom: 0;
  z-index: -1;
  margin-bottom: -10px;
}
.contact-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 139px;
}
.contact-container .contact__title {
  margin-bottom: 30px;
  text-align: center;
}
.contact-container .contact__input, .contact-container .contact__textarea {
  color: hsl(273deg, 82%, 96%);
  padding: 15px;
  margin: 8px 0;
  font-family: pretendard, sans-serif;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid hsl(214deg, 5%, 74%);
  font-size: 1.1rem;
  outline: none;
}
body.is__light .contact-container .contact__input, body.is__light .contact-container .contact__textarea {
  color: hsla(300deg, 3%, 6%, 0.5);
  border: 2px solid hsla(300deg, 3%, 6%, 0.5);
}
.contact-container .contact__input::placeholder, .contact-container .contact__textarea::placeholder {
  color: hsl(273deg, 82%, 96%);
}
body.is__light .contact-container .contact__input::placeholder, body.is__light .contact-container .contact__textarea::placeholder {
  color: hsla(300deg, 3%, 6%, 0.5);
}
.contact-container .contact__textarea {
  padding: 20px;
  margin-bottom: 30px;
  resize: vertical;
}
.contact-container .contact__btn {
  height: 50px;
  font-size: 1.1rem;
  border-radius: 30px;
}
.contact-container .contact__btn:hover {
  cursor: pointer;
}

.footer-bg {
  background-color: hsl(0deg, 0%, 15%);
  padding: 70px 0 20px 0;
}
body.is__light .footer-bg {
  background-color: white;
  box-shadow: 0 17px 13px 0 rgba(25, 44, 75, 0.0196078431);
}
.footer-bg .copy {
  margin: 50px;
  text-align: center;
}
.footer-bg .copy span {
  font-weight: 700;
  color: hsl(210deg, 100%, 55%);
}

.socialmedia {
  display: flex;
  flex-direction: column;
}
.socialmedia-links__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.socialmedia-about {
  width: 335px;
  order: 3;
}
.socialmedia-about__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.socialmedia-about__text {
  line-height: 1.5rem;
  font-size: 0.9rem;
}
body.is__light .socialmedia-about__text {
  color: hsl(206deg, 56%, 22%);
}
.socialmedia-nav {
  order: 1;
  margin-bottom: 50px;
}
.socialmedia-nav__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.socialmedia-nav__items .socialmedia-nav__item {
  margin: 10px 0;
}
.socialmedia-nav__items .socialmedia-nav__link {
  text-decoration: none;
  color: hsl(214deg, 5%, 74%);
  font-size: 1.1rem;
}
body.is__light .socialmedia-nav__items .socialmedia-nav__link {
  color: hsl(210deg, 100%, 55%);
}
.socialmedia-content {
  display: flex;
  justify-content: flex-start;
  order: 2;
  margin-bottom: 30px;
}
.socialmedia-content .socialmedia-link {
  border-radius: 100%;
  background-color: hsl(0deg, 0%, 20%);
  height: 35px;
  margin-right: 5px;
  padding: 5px;
  width: 35px;
}
body.is__light .socialmedia-content .socialmedia-link {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.062745098);
}
.socialmedia-content .socialmedia-link svg {
  fill: hsl(214deg, 5%, 74%);
  height: 35px;
  width: 35px;
}
body.is__light .socialmedia-content .socialmedia-link svg {
  fill: hsl(0deg, 0%, 15%);
}
.socialmedia-content .socialmedia-link svg:hover {
  fill: hsl(273deg, 82%, 96%);
}
body.is__light .socialmedia-content .socialmedia-link svg:hover {
  fill: hsl(210deg, 100%, 55%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: pretendard, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: hsl(300deg, 3%, 6%);
  color: hsl(273deg, 82%, 96%);
  transition: all 0.3s ease;
}
body .icon-dark {
  display: none;
}
body .content {
  width: 335px;
  padding: 10px;
  margin: auto;
  position: relative;
  border: 1px solid red;
}
body .title {
  font-size: 2rem;
  font-weight: 700;
}
body .btn-grad {
  background: linear-gradient(101deg, #fc2fa4, #902dff 57%, #4b4cf6);
  border: none;
  box-shadow: 0 5px 10px 0 rgba(25, 44, 75, 0.1490196078);
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.is__light {
  background: hsl(240deg, 11%, 96%);
  color: hsl(300deg, 3%, 6%);
}
.is__light .icon-light {
  display: none;
}
.is__light .icon-dark {
  display: block;
}

.scale-hover:hover {
  transform: scale(1.03);
  transform-origin: center;
  transition: all 0.1s ease-in;
}

section[id], article[id] {
  scroll-margin-top: 150px;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/*# sourceMappingURL=style.css.map */
