@use 'variables' as *;

.footer-bg{
    background-color: $color-bg-gray;
    padding: 70px 0 20px 0;
    width: 100%;
    body.is__light &{
        background-color: white;
        box-shadow: 0 17px 13px 0 #192c4b05;
    }
    .copy{
        margin: 50px;
        text-align: center;
        @media screen and (max-width: 375px) {
            margin: 50px 0;
        }
        span{
            font-weight: 700;
            color: $color-bg-blue
        }
    }
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 375px) {
        flex-direction: column;
        align-items: center;
    }
    &-links{
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
    &-about{
        width: 550px;
        @media screen and (max-width: 768px){
            width: 304px;
            margin-bottom: 20px;
        }
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__text{
            line-height: 1.5rem;
            font-size: .9rem;
            body.is__light &{
                color: hsl(206deg 56% 22%);
            }
        }
    }
    &-nav{
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 15px;
            @media screen and (max-width: 375px) {
                display: flex;
                justify-content: center;
            }
        }
        &__items{
            @media screen and (max-width: 375px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 30px;
            }
            .socialmedia-nav{
                &__item{
                    margin: 10px 0;
                    @media screen and (max-width: 375px) {
                        margin-right: 30px;
                    }
                }
                &__link{
                    text-decoration: none;
                    color: $color-bg-gray-light;
                    font-size: 1.1rem;
                    body.is__light &{
                        color: $color-bg-blue;
                    }
                }
            }
        }

    }
    &-content{
        display: flex;
        justify-content: center;
        .socialmedia{
            &-link{
                border-radius: 100%;
                background-color: $color-bg-grey;
                height: 35px;
                margin-right: 5px;
                padding: 5px;
                width: 35px;
                body.is__light &{
                    background-color: white;
                    box-shadow: 0 0 15px #00000010;
                }
                svg{
                    fill: $color-bg-gray-light;
                    height: 35px;
                    width: 35px;
                    body.is__light &{
                        fill: $color-bg-gray;
                    }
                    &:hover{
                        fill: $color-font;
                        body.is__light &{
                           fill: $color-bg-blue;
                        }
                    }
                }
            }
        }
    }
}

