@use 'variables' as *;

.footer-bg{
    background-color: $color-bg-gray;
    padding: 70px 0 20px 0;
    body.is__light &{
        background-color: white;
        box-shadow: 0 17px 13px 0 #192c4b05;
    }
    .copy{
        margin: 50px;
        text-align: center;
        span{
            font-weight: 700;
            color: $color-bg-blue
        }
    }
}

.socialmedia{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1000px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &-links{
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 15px;
            @media screen and (min-width: 720px) {
                text-align: center;
            }
        }
    }
    &-about{
        width: 335px;
        order: 3;
        @media screen and (min-width: 720px) {
            width: 550px;
            margin: auto;
        }
        @media screen and (min-width: 1000px) {
            margin: 0;
        }
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 20px;
            @media screen and (min-width: 720px) {
                text-align: center;
            }
            @media screen and (min-width: 1000px) {
                text-align: start;
            }
        }
        &__text{
            line-height: 1.5rem;
            font-size: .9rem;
            body.is__light &{
                color: hsl(206deg 56% 22%);
            }
        }
    }
    &-nav{
        @media screen and (min-width: 720px) {
            width: 100%;
            text-align: center;
        }
        @media screen and (min-width: 1000px) {
            width: 150px;
        }
        order: 1;
        margin-bottom: 50px;
        &__title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &__items{
            @media screen and (min-width: 720px) {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
            @media screen and (min-width: 1000px) {
                flex-direction: column;
            }
            .socialmedia-nav{
                &__item{
                    @media screen and (min-width: 720px) {
                        margin-right: 10px;
                    }
                    margin: 10px 0;
                }
                &__link{
                    text-decoration: none;
                    color: $color-bg-gray-light;
                    font-size: 1.1rem;
                    body.is__light &{
                        color: $color-bg-blue;
                    }
                }
            }
        }

    }
    &-content{
        display: flex;
        justify-content: flex-start;
        order: 2;
        margin-bottom: 30px;
        @media screen and (min-width: 720px) {
            justify-content: center;
        }
        .socialmedia{
            &-link{
                border-radius: 100%;
                background-color: $color-bg-grey;
                height: 35px;
                margin-right: 5px;
                padding: 5px;
                width: 35px;
                body.is__light &{
                    background-color: white;
                    box-shadow: 0 0 15px #00000010;
                }
                svg{
                    fill: $color-bg-gray-light;
                    height: 35px;
                    width: 35px;
                    body.is__light &{
                        fill: $color-bg-gray;
                    }
                    &:hover{
                        fill: $color-font;
                        body.is__light &{
                           fill: $color-bg-blue;
                        }
                    }
                }
            }
        }
    }
}

