@use 'variables' as *;

.navbar{
    height: 55px;
    &__items{
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    &__link{
        color: $color-font;
        font-size: small;
        font-weight: bold;
        letter-spacing: .3rem;
        margin-left: 10px;
        text-decoration: none;
        text-transform: uppercase;
        &--icon{
            width: 15px;
            height: 15px;
            background-color: $color-bg-gray;
            padding: 8px;
            border-radius: 100%;
            fill: $color-font;
        }
        body.is__light &{
            color: $color-bg;
            &--icon{
                background-color: $color-font-opacity;
                fill: $color-bg;
            }
        }
    }
    &--active{
        background-color: $color-bg-opacity;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 2;
        ul{
            margin-left: -20px;
        }
        body.is__light &{
            background-color: $color-font-opacity;
        }
    }
}
.back-img,.back-img-2{
    height: 40rem;
    object-fit: cover;
    position: absolute;
    top: 3%;
    width: 40rem;
    z-index: -1;
    &-left{
        left: -150%;
    }
    &-right{
        right: -150%;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
}

.cover-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 335px;
    &__title{
        font-size: 4.5rem;
        font-weight: bold;
        text-align: center;
    }
    &__text{
        margin-bottom: 40px;
        margin-top: 25px;
        text-align: center;
        width: 335px;
        line-height: 1.4rem;
    }
    &__btn{
        align-items: center;
        border: none;
        border-radius: 50px;
        color: $color-font;
        display: flex;
        font-family: $font-family;
        font-size: 1rem;
        letter-spacing: .3rem;
        margin: 20px;
        padding: 20px 40px;
        text-transform: uppercase;
        -webkit-transform-origin: center;
        transform-origin: center;
        width: 200px;
        cursor: pointer;
        &:hover{
            transform: scale(1.09);
            transform-origin: center;
        }
        &-img{
            margin-left: 5px;
            width: 20px;
        }
    }
    &__img{
        margin-top: 40px;
        margin-bottom: 80px;
    }
}
