@use 'variables' as v;

.header{
    width: 100%;
    &-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 38px;
        margin: auto;
        padding: 23.5px;
        width: 1164px;
    }
    &-logo{
        &__img{
            width: 38px;
        }
    }
    &-navbar{
        &__content{
            display: flex;
            &-item{
                padding: 0 15px;
                &-ref{
                    text-decoration: none;
                    color: v.$font-nav;
                    &:hover{
                        color: v.$button-blue;
                    }
                }
            }
        }
    }
    &-rigth-container{
        display: flex;
        align-items: center;
        &__separator{
            padding: 0 20px;
            font-weight: 300;
            font-size: 20px;
            color: v.$font-gray;
            margin-top: -2px;
        }
        &__btn{
            height: 38px;
        }
        &__btn-theme{
            padding: 0;
            width: 26px;
            height: 26px;
            background-image: url(../img/half-moon.svg);
            background-repeat: no-repeat;
            margin-right: 20px;
            background-color: transparent;
            appearance: none;
            border: none;
            &:hover{
                cursor: pointer;
                transform: scale(.98);
            }
        }
    }
    &--fixed{
        position: fixed;
        background-color: v.$background-gray-ligth;
        z-index: 100;
        top: 0; 
        left: 0;
        right: 0;
        transition: background .3s ease-in-out;
        box-shadow: 1px 1px 2px 0 v.$background-gray;
    }
}

.ref--active, .header-navbar__content-item-ref:active{
    color: v.$button-blue;
    font-weight: 500;
}