@use 'variables' as *;
.navbar{
    padding: 17px 0;
    &__items{
        display: block;
        height: 20px;
    }
    &__item{
        display: inline;
        float: right;
    }
    &__link{
        color: $color-font;
        font-size: small;
        font-weight: bold;
        letter-spacing: .3rem;
        margin-left: 50px;
        text-decoration: none;
        text-transform: uppercase;
    }
}
.back-img,.back-img-2{
    height: 40rem;
    object-fit: cover;
    position: absolute;
    top: 5%;
    width: 40rem;
    z-index: -1;
    &-left{
        left: -40%;
    }
    &-right{
        right: -40%;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
}

.cover-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 150px;
    width: 660px;
    &__title{
        font-size: 5.5rem;
        font-weight: bold;
        text-align: center;
    }
    &__text{
        margin-bottom: 40px;
        margin-top: 25px;
        text-align: center;
        width: 440px;
        line-height: 1.4rem;
    }
    &__btn{
        align-items: center;
        border: none;
        border-radius: 50px;
        color: $color-font;
        display: flex;
        font-family: $font-family;
        font-size: 1rem;
        letter-spacing: .3rem;
        margin: 20px;
        padding: 20px 40px;
        text-transform: uppercase;
        -webkit-transform-origin: center;
        transform-origin: center;
        width: 200px;
        cursor: pointer;
        &:hover{
            transform: scale(1.09);
            transform-origin: center;
        }
        &-img{
            margin-left: 5px;
            width: 20px;
        }
    }
    &__img{
        margin-top: 40px;
        margin-bottom: 80px;
    }
}
