@use 'variables' as v;

.main{
    &-header{
        align-items: center;
        background-color: v.$background-gray;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 180px);
        margin: auto;
        min-height: 450px;
        max-height: 550px;
        padding: 38px;
        width: 1134px;
        &__title{
            height: 160px;
            padding-bottom: 50px;
            text-align: center;
            width: 550px;
            &-typed{
                color: v.$font-black;
                font-weight: 700;
                font-size: 80px;
            }
        }
        &__parraf{
            line-height: 1.5rem;
            padding-bottom: 20px;
            text-align: center;
            width: 650px;
            font-size: 16px;
            strong{
                font-weight: bold;
            }
        }
        &__btn{
            height: 48px;
            font-size: 18px;
            padding: 0 35px !important;
        }
    }
    &-aboutme{
        margin: 90px auto;
        padding: 30px 23px;
        width: 1164px;
        &__title{
            text-align: left;
        }
        &__text{
            line-height: 1.5rem;
            padding-bottom: 20px;
            width: 750px;
        }
    }
    &-skills-hobbies{
        width: 1164px;
        padding: 0 23px;
        margin: auto;
    }

    &-skills, &-hobbies{
        padding-bottom: 100px;
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-card{
                align-items: center;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 150px;
                margin-bottom: 30px;
                padding: 10px;
                width: 150px;
                padding-bottom: 20px;
                &-caption{
                    font-weight: 500;
                    font-size: 16px;
                    font-size: 18px;
                    padding:  5px 10px;
                    border-radius: 10px;
                    color: v.$button-blue;
                    background-color: v.$background-blue-ligth;
                    text-align: center;
                }
                &-img{
                    width: 40px;
                    height: 40px;
                    padding-bottom: 20px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    &-hobbies__content{
        justify-content: space-evenly;
    }
    &-education{
        margin: auto;
        padding: 0px 23px;
        padding-bottom: 100px;
        width: 1164px;
        &__content{
            display: flex;
            gap: 20px;
            padding-top: 50px;
            justify-content: space-between;
        }
        &__card{
                width: 200px;
                height: 260px;
                &-img{
                    width: 200px;
                    height: 200px;
                    border-radius: 20px 20px 0 0;
                }
                &-info{
                    &-title{
                        padding: 10px 0 5px 0;
                        font-weight: 700;
                        font-size: 18px;
                        color: v.$button-blue;
                    }

                }
        }
    }
    &-projects{
        background-color: v.$background-blue-ligth;
        border-radius: 20px;
        margin: auto;
        padding: 50px 23px;
        padding-bottom: 0px;
        width: 1164px;
        &__title{
            padding: 30px 0;
        }
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card{
            display: flex;
            margin: 0 50px;
            &-img{
                height: 150px;
                width: 300px;
                border-radius: 10px 0 0 10px;
                margin-right: 20px;
                object-fit: cover;
            }
            &-content{
                height: 150px;
                margin-bottom: 100px;
                width: 150px;
            }
            &-caption{
                &-title{
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                &-tecnology{
                    font-weight: 300;
                    margin-bottom: 10px;
                    span:hover{
                        color: v.$font-green;
                        cursor: default;
                    }
                }
            }
            &-btn{
                margin-bottom: 15px;
                background-color: transparent;
                color: v.$button-blue;
                border: 2px solid v.$button-blue;
                padding: 5px 10px;
                font-weight: 500;
                font-size: 16px;
                border-radius: 20px;
                font-family: v.$font-family;
                &:hover{
                    cursor: pointer;
                    border: 2px solid v.$font-green;
                    color: v.$font-green
                }
            }
        }
    }

    &-contact{
        margin: 50px auto;
        padding: 50px 23px;
        padding-bottom: 0px;
        width: 1164px;
        display: flex;
        &__container,&__img{
            background-color: v.$background-gray;
            border-radius: 20px;
            margin: 100px auto;
            padding: 10px 30px;
            padding-bottom: 80px;
            width: 428px;
        }
        &__img{
            background-color: transparent;
        }
        &-title{
            padding-top: 40px;
            margin-bottom: 20px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            &-desc{
                padding-bottom: 10px;
                line-height: 1.4rem;
            }
            &-label{
                margin: 5px 0;
                color: v.$font-gray
            }
            &-input{
                appearance: none;
                border: 1px solid v.$font-gray;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 16px;
                font-family: v.$font-family; 
            }
            &-message{
                height: 100px;
                border-radius: 10px;
                border: 1px solid v.$font-gray;
                resize: none;
                padding: 8px 10px;
                font-family: v.$font-family;
                font-size: 16px;
            }
            .input-error{
                visibility: hidden;
                color: red;
                padding: 4px 0;
            }
            &-btn{
                margin: auto;
                width: 80%;
                margin-top: 20px;
            }
        }
    }
}
