$background-gray:hsl(193, 13%, 87%);
$background-gray-ligth: hsl(220, 18%, 97%);
$background-blue-ligth: hsl(200, 84%, 93%);
$button-blue: hsl(200, 98%, 40%);
$button-orange: hsl(20, 98%, 60%);

$font-family: 'Rubik', sans-serif;
$font-gray:hsl(216, 2%, 58%);
$font-nav:hsl(206, 31%, 45%);
$font-black: hsl(240, 33%, 1%);
$font-green:hsl(142, 70%, 45%);
$font-white:hsl(225, 67%, 98%);