$font-family: pretendard, sans-serif;
$color-font: hsl(273, 82%, 96%);
$color-font-opacity: hsl(273, 82%, 96%, 0.5);
$color-bg-blue:hsl(210, 100%, 55%);
$color-bg: hsl(300, 3%, 6%);
$color-bg-opacity:hsla(300, 3%, 6%, 0.5);
$color-bg-gray:hsl(0, 0%, 15%);
$color-bg-grey:hsl(0, 0%, 20%);
$color-bg-gray-light:hsl(214, 5%, 74%);



